.header {
    background-image: url(../../dist/images/background-image.jpg);
    background-position: center top;
    background-size: cover;
    min-height: 700px;

    &__logo {
        width: 100%;
        text-align: center;
        padding-top: 100px;

        img {
            height: 398px;
            width: 558px;
        }
    }

    &__body {
        display: flex;
        justify-content: center;
        padding-top: 70px;

        a {
            background-color: #eb6700;
            padding: 8px 38px;
            margin: 8px;
        }
    }
}